[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.8.2"
pytz = "==2018.5"
django = "==2.1.2"
gunicorn = "*"
dj-database-url = "*"
django-heroku = "*" 
django-tinymce = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
