{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <h2>{{ article.title }}</h2> 
    <h4>{{ article.subhead }}</h4>
    <p> {{ article.pub_date }} </p>
    <img class="img-fluid" src="{{ article.cover_url }}" alt="cover_url">
    
    <hr>
    <p>{{ article.body }}</p>
    <h3> More Photos: </h3>
    {% for photo in article.photos.all %}
        <img class="img-fluid" src="{{ photo.photo_urls }}" alt="no pic">
        <br>
        <p>{{ photo.caption }}</p>
    {% endfor %}

</div>

{% endblock %}