{% extends 'base.html' %}

{% block content %}

{% for article in articles %}
    <div class="container">
        <img class="container" src="{{article.cover_url}}"/>
        <h2><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h2>
        <p>{{ article.subhead}}</p>
        <p>{{ article.pub_date}}</p>
        {% comment %} Below is needed to render tag set {% endcomment %}
        {% for tag in article.tag_set.all %} 
        <p>Tags: {{ tag.tag }}</p>
        {% endfor %}
        <br/><hr/><br/>
    </div>
    
{% endfor %} 

{% endblock %}

